@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Slab" !important;
}

#nprogress .bar {
  @apply !z-[9999] bg-sky-400 h-1 fixed left-0 top-0 w-full;
}

.sidebar {
  width: 0;
  height: 100%;
  position: fixed;
  top: 20;
  left: 0;
  background-color: #fff;
  transition: width 0.6s ease;
  overflow-x: hidden;
  z-index: 999;
}

.sidebar.open {
  width: 100%;
}

.toggle-btn {
  position: absolute;
  top: 20;
  left: 0;
  cursor: pointer;
  z-index: 1000;
}

.close {
  display: none;
}

/* You may add additional styles for sidebar content here */